<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0" />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1 class="text-dark">My Collections</h1>
		<form action="/map/search">
			<label for="searchBar" class="text-dark">Location:</label>
			<div class="d-flex flex-row">
				<input
					type="text"
					name="searchBar"
					id="searchBar"
					placeholder="Type address..."
					class="w-75"
				/>
				<button type="submit" class="btn"><i class="fa fa-search"></i></button>
			</div>
		</form>

		<div id="map" class="mt-4"></div>
		<% let bookmarks = locations; %>

		<script>
			var map;
			let locations = JSON.parse('<%- JSON.stringify(bookmarks) %>');

			function initMap() {
				const myLatLng = { lat: -33.8605523, lng: 151.1972205 };

				map = new google.maps.Map(document.getElementById('map'), {
					center: myLatLng,
					zoom: 12,
				});

				addMarkers(map);
			}

			function addMarkers(map) {
				for (const location in locations) {
					new google.maps.Marker({
						position: locations[location],
						map,
						title: 'Hello World!',
					});
				}
			}
		</script>
		<% let GOOGLE_API_KEY = API_KEY; %>

		<script
			src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&callback=initMap"
			async
			defer
		></script>
		<script src="https://maps.googleapis.com/maps/api/geocode/json?place_id=ChIJeRpOeF67j4AR9ydy_PIzPuM&key=<%= GOOGLE_API_KEY %>
		"></script>
		<script src="js/map.js"></script>
	</body>
</html>
